.popup {
   display: flex;
   height: 0;
   opacity: 0;
   z-index: 2;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: hidden;
   justify-content: center;
   align-items: center;
   transition: .5s, height 0s .5s;
}