.popup__button-save {
   margin-top: 48px;
   width: 100%;
   min-height: 50px;
   background-color: black;
   font-size: 1.12rem;
   font-style: normal;
   font-weight: 400;
   text-align: center;
   color: white;
   border-radius: 2px;
}

@media screen and (max-width: 550px) {
   .popup__button-save {
      margin-top: 45px;
      font-size: 0.87rem;
      min-height: 46px;
   }
}

.popup__button-save:hover {
   opacity: 0.8;
   cursor: pointer;
}