.popup__input {
   font-weight: 400;
   font-size: 14px;
   line-height: 17px;
   width: 358px;
   height: 27px;
   border: 1px solid transparent;
   border-bottom: 1px solid #000;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   margin: 0 auto;
   margin-bottom: 30px;
   padding: 0;
   vertical-align: top;
}

@media screen and (max-width: 540px) {
   .popup__input {
      max-width: 238px;
   }
}