.popup__input {
   padding: 0 10px;
   margin: 0 auto;
   margin-top: 30px;
   display: block;
   min-height: 27px;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 47px;
   border: none;
   border-bottom: 1px solid black;
}

@media screen and (max-width: 550px) {
   .popup__input:first-child {
      margin-top: 75px;
   }
}