.profile__subtitle {
   grid-area: subtitle;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   color: #fff;
   margin: 0;
}

@media screen and (max-width: 720px) {
   .profile__subtitle {
      text-align: center;
      font-size: 14px;
   }
}