.profile__title {
   grid-area: title;
   font-style: normal;
   font-weight: 500;
   font-size: 42px;
   line-height: 48px;
   color: #fff;
   margin: 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   padding-bottom: 16px;
   padding-right: 18px;
}

@media screen and (max-width: 720px) {
   .profile__title {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      padding: 0;
      padding-bottom: 16px;
   }
}